@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,100);
@textNormal: #3a3a3a;
@textPrimary: #46C934;
@textSecondary: blue;

@textHeader: #fff;

@bgMain: #eee;
@bgSecondary: #FF8B17;

body, html
{
    padding: 0px;
    margin: 0px;
    font-family: 'Helvetica Neue', Helvetica, Arial;
}
span.hl
{
    color: @textPrimary;
}
p
{
    color: @textNormal;
}
#navigation
{
    a
    {
        margin-bottom: 3px;
        color: @textNormal;
        padding: 15px;
        border-radius: 0px;
        background: none;
        font-size: 20px;
    }
    a.active, a:hover
    {
        color: @textHeader;
    }
}
.hero-unit
{
    padding: 20px 0px 60px 0px;
    background: none;
    h1
    {
        font-size: 120px;
        font-weight: bold;
        color: @textHeader;
    }
    h2
    {
        color: darken(@textHeader, 5%);
        font-weight: 100;
    }
    .btn
    {
        background-image: none;
        font-size: 20px;
        padding: .5em 1em;
        margin-right: .5em;
    }
}
.tron
{
    background: url(../img/header.png) center top no-repeat;
}
.nav-wrapper
{
    padding: 20px 0px;
}
.section#section-perks
{
    a.perk
    {
    }
}
.section
{
    display: block;
    background: @bgMain;
}
.section-header
{
    color: #fff;
    background: @bgSecondary;
    padding: .8em 0px;
    font-size: 48px;
    a
    {
        color: #fff;
    }
}
.modal
{
    border-radius: 0px;
}