@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,100);
@textNormal: #3a3a3a;
@textPrimary: #46C934;
@textSecondary: blue;

@textHeader: #fff;

@bgMain: #eee;
@bgPrimary: #46C934;
@bgSecondary: #FF8B17;
@bgDark: #111;

body, html
{
    padding: 0px;
    margin: 0px;
    font-family: 'Helvetica Neue', Helvetica, Arial;
    background: #aaa;
}
span.hl
{
    color: @textPrimary;
}
p
{
    color: @textNormal;
}
#navigation
{
    a
    {
        margin-bottom: 3px;
        color: #eee;
        padding: 15px;
        border-radius: 0px;
        background: none;
        font-size: 20px;
        font-weight: 100;
    }
    a.active, a:hover
    {
        color: @textHeader;
    }
}
.hero-unit
{
    padding: 20px 0px 60px 0px;
    background: none;
    h1
    {
        font-size: 120px;
        font-weight: bold;
        color: @textHeader;
    }
    h2
    {
        color: darken(@textHeader, 5%);
        font-weight: 100;
    }
    .btn
    {
        font-size: 20px;
        padding: .5em 1em;
        margin-right: .5em;
    }
}
.btn
{
    background-image: none !important;
}
.btn.btn-primary
{
    background: @bgSecondary;
}
.btn.btn-primary:hover
{
    background: lighten(@bgSecondary, 5%);
}
.btn.btn-primary:active
{
    background: darken(@bgSecondary, 10%);
}
.btn.btn-info
{
    background: @bgPrimary;
}
.btn.btn-info:hover
{
    background: lighten(@bgPrimary, 5%);
}
.btn.btn-info:active
{
    background: darken(@bgPrimary, 10%);
}
.tron
{
    background: url(../img/header.png) center top no-repeat;
}
.nav-wrapper
{
    padding: 20px 0px;
}
.section#section-perks
{
    a.perk
    {
    }
}
.section
{
    display: block;
    background: @bgDark;
    padding-bottom: 30px;
}
.section-bright, .section-bright .section-header
{
    background: @bgSecondary;
}
.section-green, .section-green .section-header
{
    background: @bgPrimary;
}
.section-header
{
    color: #fff;
    background: @bgDark;
    padding: .8em 0px;
    font-size: 48px;
    margin: 0px;
    a
    {
        color: #fff;
    }
}
.modal
{
    width: 50%;
    margin-left: -25%;
    border-radius: 0px;
    .modal-footer
    {
        border-radius: 0px;
    }
}
.logo
{
    color:#3a3a3a;
}
.perk-list
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    li
    {
        margin: 0px;
        padding: 0px;
    }
}
#section-perks
{
    padding-bottom: 30px;
}
#section-footer
{
    color: rgba(255,255,255,.6);
    padding: 10px;
    text-align: center;
    font-size: 11px;
    background: @bgDark;
}
.center
{
    text-align: center;
}

