@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,100);
body,html{padding:0px;margin:0px;font-family:'Helvetica Neue',Helvetica,Arial;}
span.hl{color:#39b33d;}
p{color:#3a3a3a;}
#navigation a{margin-bottom:3px;color:#3a3a3a;padding:15px;border-radius:0px;background:none;font-size:20px;}
#navigation a.active,#navigation a:hover{margin-bottom:0px;border-bottom:solid 3px #39b33d;color:#39b33d;}
.hero-unit{padding:60px 0px;background:none;}.hero-unit h1{font-size:120px;font-weight:bold;}
.hero-unit h2{color:#606060;}
div.section#section-perks a.perk{display:block;padding:5px;}
div.section{background:#eeeeee;padding:20px 0px;}
